@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

body {  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
}

header, .text-header {
  font-family: 'Passion One', cursive;
}

.App {
  overflow: hidden;
  height: 100%;
}

.abstract-cirlce {
  position: absolute;
  top: -40px;
  left: -50px;
  z-index: 1;
  width: 250px;
  height: 200px;
  border-radius: 70% 30% 30% 70% / 60% 40% 70% 40%;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.abstract-wave-1 {
  /* display: inline-block; */
  position: absolute;
  bottom: -15px;
  right: 0px;
  z-index: 4;
  width: 350px;
  height: 300px;
  border-radius: 60% 30% 20% 30% / 70% 40% 10% 40%;
  background: rgb(207, 233, 255);
  /* background: red; */
}

.abstract-wave-2 {
  /* display: inline-block; */
  position: absolute;
  bottom: -100px;
  right: 120px;
  z-index: 3;
  width: 350px;
  height: 300px;
  border-radius: 70% 30% 30% 70% / 60% 40% 70% 40%;
  background: rgb(207, 233, 255);
  /* background: red; */
}

.abstract-wave-3 {
  /* display: inline-block; */
  position: absolute;
  bottom: 20px;
  right: -100px;
  z-index: 2;
  width: 350px;
  height: 300px;
  border-radius: 70% 30% 30% 70% / 60% 40% 70% 40%;
  background: rgb(207, 233, 255);
  /* background: red; */
}

.circle-1 {
  /* display: inline-block; */
  position: absolute;
  bottom: 200px;
  right: 21%;
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(207, 233, 255);
  background: rgb(174, 217, 255);
}

.circle-2 {
  /* display: inline-block; */
  position: absolute;
  bottom: 300px;
  right: 10%;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(207, 233, 255);
  background: rgb(174, 217, 255);
}


.svg {
  margin-top: 2em;
  background-size: 25%;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url('./assets/undraw_data_re_80ws.svg');
}

.section-1 {
  position: relative;
  background-color: aliceblue;
  z-index: -1;
  overflow: hidden;
}

.about {
  background-color: aquamarine;
  padding-top: 3em;
}